<div>
    <input
    [(ngModel)]="searchText"
    type="text" class="form-control" placeholder="Search text..." />

    <p class="text-content mt-5"appHighlight highlightColor="pink" [highlightText]="searchText">Angular is a popular open-source JavaScript framework used for building single-page applications (SPAs) and progressive web apps (PWAs). It was developed by Google and is known for its two-way data binding, dependency injection, and component-based architecture. Angular is often used for building complex, data-driven applications with a robust and maintainable codebase. Some of the key features of Angular include:
        <br>
    Templates: HTML-based templates for rendering dynamic data
    Modules: Organize code into reusable modules
    Services: Shared functionality and data through services
    Directives: Customizable HTML elements
    Angular is widely used in enterprise-level applications and is a popular choice among developers.</p>
  </div>

