<div class="card my-4">
    <div class="card-body"
    [ngClass]="{
        'noAvail':!mobileObj.isAvailable
    }"
    >
        <div class="row">
            <div class="col-md-3">
              <div class="imgContainer">
                <img [src]="mobileObj.image" [alt]="mobileObj.image" [title]="mobileObj.image" class="img-fluid" *ngIf="mobileObj.image; else noImg">
                <ng-template #noImg>
                   <p class="noImgMsg ">Product is not available</p>
                </ng-template>
              </div>
            </div>
            <div class="col-md-7">
                <h3>{{mobileObj.name}}
                    <small class="text-white p-2"
                    [ngClass]="{
                        'bg-success':mobileObj.rating >= 4,
                        'bg-warning':mobileObj.rating >=3 && mobileObj.rating < 4,
                        'bg-danger':mobileObj.rating < 3
                    }"
                    >{{mobileObj.rating}}</small>
                </h3>
                <ul class="list-group m-4 text-capitalize">
                    <li *ngFor="let spec of mobileObj.specifications | keyvalue">
                        {{spec.key}}:{{spec.value}}
                    </li>
                </ul>

            </div>
            <div class="col-md-2">
                <h4>{{mobileObj.price|currency :"INR"}}
                    <small class="d-block"><s>{{mobileObj.actualprice|currency:"INR"}}</s></small>
                </h4>
                <strong *ngIf="mobileObj.noOfItem > 0 && mobileObj.noOfItem < 10" class="text-danger"> Only {{mobileObj.noOfItem}} left</strong>

            </div>
        </div>
    </div>
    <p class="noProduct text-danger"*ngIf="!mobileObj.isAvailable">Currently Unavailable</p>
</div>

